<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1bM6xPzt0tDOTxTKXMDsGp4i6XdhWpOo</string>
	<key>GCM_SENDER_ID</key>
	<string>784046577885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plantsmart30</string>
	<key>PROJECT_ID</key>
	<string>plant-b57c7</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-b57c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784046577885:ios:a9bd4aa5b3603e129be334</string>
	<key>DATABASE_URL</key>
	<string>https://plant-b57c7-default-rtdb.firebaseio.com</string>
</dict>
</plist>